body{
    padding:0;
    margin:0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container{
    width:80%;
    margin:auto;
   overflow: hidden;
}

Header{
    background-color:#35424a;
    color:#fff;
    padding-top:30px;
    border-bottom:#C5D86D 5px solid;
}
Header span{
    color:#C5D86D;
}

Header #branding{
    float: left;
}
header nav{
    float: right;
}